# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
date-list-react/node_modules
date-list-react/.pnp
.pnp.js

# testing
date-list-react/coverage

# production
date-list-react/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
